[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-migrate = "*"
flask-moment = "*"
flask-mail = "*"
python-dotenv = "*"
ipython = "*"
flask-shell-ipython = "*"
flask-admin = "*"
pandas = "*"
tablib = "*"
flask-babelex = "*"

[requires]
python_version = "3.7"
