.nav-bar .navbar-text {
    margin-right: 0 15px;
}

.sidebar {
    background-color: whitesmoke;
}

.sidebar .nav-item .nav-link {
  color: black;
}

.sidebar .nav-item.active .nav-link {
  color: black;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: #212529;
}

.sidebar .nav-item .dropdown-menu {
    margin: 0;
    padding-left: 10px;
    width: 100%;
    left: 0;
    border: none;
}