.sidebar {
    background-color: whitesmoke;
}

.sidebar .nav-item .nav-link {
  color: black;
}

.sidebar .nav-item.active .nav-link {
  color: black;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: #212529;
}